.moviesContainer{
  display: flex;
  padding: 10rpx;
  border-bottom: 1rpx solid#eee;
}

.movies_img{
  width: 128rpx;
  height: 128rpx;
  margin-right: 20rpx;
}
.movies_info{
  width: 70%;
}
.movies_name{
  font-size: 32rpx;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.movies_year{
  font-size: 28rpx;
  color: #999;
  margin: 5rpx 0;
}
.movies_dir{
  font-size: 30rpx;
  color: #666;
}

.movies_rationg{
  font-size: 36rpx;
  font-weight: bold;
  color: red;
}
